.popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  visibility: hidden;
  transition: visibility .3s, opacity .3s ease-in;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  z-index: 2;
}