.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}