.profile__info-full-name-and-button-edit {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 680px) {
  .profile__info-full-name-and-button-edit {
    margin: 26px 0 0 0;
  }
}