.popup__button-save-text {
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .popup__button-save-text {
    line-height: 17px;
    font-size: 14px;
  }
}