.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 680px) {
  .popup__button-close {
    top: -40px;
    right: 0;
  }
}