.popup__form-item {
  width: 358px;
  height: 27px;
  border: 0;
  border-bottom: 1px solid #ddd;
  outline: none;
  margin: 30px 0 0 0;
}

@media screen and (max-width: 680px) {
  .popup__form-item {
    width: 238px;
  }
}