.profile__info {
  display: flex;
  flex-direction: column;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .profile__info {
    margin: 0 0 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .profile__info {
    margin: 0;
  }
}